/* @import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"); */
/* @import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"); */

@tailwind base;

/* @layer base {
  ::-webkit-scrollbar {
    @apply w-2 rounded-3xl bg-custom-black;
  }
  ::-webkit-scrollbar-thumb {
    @apply rounded-3xl bg-gray-600;
  }
} */

@tailwind components;
@tailwind utilities;

/* @font-face {
  font-family: "Mona Sans";
  src:
    url("/fonts/Mona-Sans.woff2") format("woff2 supports variations"),
    url("/fonts/Mona-Sans.woff2") format("woff2-variations");
  font-weight: 200 900;
  font-stretch: 75% 125%;
}

@font-face {
  font-family: "Hubot Sans";
  src:
    url("/fonts/Hubot-Sans.woff2") format("woff2 supports variations"),
    url("/fonts/Hubot-Sans.woff2") format("woff2-variations");
  font-weight: 200 900;
  font-stretch: 75% 125%;
} */

/*********/
:root {
  --background: 0 0% 100%;
  --foreground: 240 10% 3.9%;
  --card: 0 0% 100%;
  --card-foreground: 240 10% 3.9%;
  --popover: 0 0% 100%;
  --popover-foreground: 240 10% 3.9%;
  --primary: 240 5.9% 10%;
  --primary-foreground: 0 0% 98%;
  --secondary: 240 4.8% 95.9%;
  --secondary-foreground: 240 5.9% 10%;
  --muted: 240 4.8% 95.9%;
  --muted-foreground: 240 3.8% 46.1%;
  --accent: 240 4.8% 95.9%;
  --accent-foreground: 240 5.9% 10%;
  --destructive: 0 72.22% 50.59%;
  --destructive-foreground: 0 0% 98%;
  --border: 240 5.9% 90%;
  --input: 240 5.9% 90%;
  --ring: 240 5% 64.9%;
  --radius: 0.5rem;
}

body {
  margin: 0;
  overflow-x: hidden;
}

::selection {
  background: rgba(244,114,182, 0.3);
}

@layer utilities {

  .pointer-wrapper:hover {
    cursor: none;
  }

  .group:hover .custom-pointer {
    display: flex;
    position: absolute;
    top: var(--mouse-y);
    left: var(--mouse-x);
    transform: translate(-50%, -50%);
  }

  .pointer-wrapper:hover {
    --mouse-x: calc(var(--mouse-x) + 50%);
    --mouse-y: calc(var(--mouse-y) + 50%);
  }

  .pointer-wrapper {
    position: relative;
  }

  .font-wide {
    font-stretch: 125%;
  }

  .hidden {
    display: none;
  }

  /* .current-appointment {} */

  .client-busy {
    background-color: aliceblue !important;
  }

  .text-primary-foreground {
    color: hsl(var(--primary-foreground));
  }

  .bg-primary {
    background-color: hsl(var(--primary));
  }

  .logo {
    font-family: "Kanit";
  }

  .seed {
    color: #69dc9e;
  }

  .labs {
    color: #fb3640;
  }

  .studio {
    color: #01baef;
  }

  .squad {
    color: #f9b4ed;
  }

  .stroked {
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px;
  }

  .bg {
    position: fixed;
    top: -50%;
    left: -50%;
    right: -50%;
    bottom: -50%;
    width: 200%;
    height: 200vh;
    background: transparent url("/img/noise.png") repeat 0 0;
    background-repeat: repeat;
    animation: bg-animation 0.2s infinite;
    opacity: 0.99;
    visibility: visible;
    pointer-events: none;
  }

  @keyframes bg-animation {
    0% {
      transform: translate(0, 0);
    }
    10% {
      transform: translate(-5%, -5%);
    }
    20% {
      transform: translate(-10%, 5%);
    }
    30% {
      transform: translate(5%, -10%);
    }
    40% {
      transform: translate(-5%, 15%);
    }
    50% {
      transform: translate(-10%, 5%);
    }
    60% {
      transform: translate(15%, 0);
    }
    70% {
      transform: translate(0, 10%);
    }
    80% {
      transform: translate(-15%, 0);
    }
    90% {
      transform: translate(10%, 5%);
    }
    100% {
      transform: translate(5%, 0);
    }
  }

  ol.circle-counter {
    counter-reset: item;
  }

  ol.circle-counter li {
    list-style: none;
    position: relative;
    padding-left: 3.5rem;
    margin-bottom: 1.7rem;
    counter-increment: item;
    display: flex;
    align-items: center;
  }

  ol.circle-counter li::before {
    content: counter(item);
    position: absolute;
    left: 0;
    width: 3rem;
    height: 3rem;
    line-height: 3rem;
    text-align: center;
    border-radius: 50%;
    font-weight: bold;
    font-size: 1.25rem;
    background-color: #33333d;
    color: #f1f1f3;
  }
}
